/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
      /*  ---------------Box Sizing-----------------  */
      html {
        box-sizing: border-box;
      }

      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }

      /* Starter */
      main > * {
        font-family:
          Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
        font-weight: normal;
        background-color: #c0c0c0;
        border-radius: 10px;
        padding: 20px;
      }

      main {
        display: grid;
        gap: 20px;
        max-width: 80vw;
        margin: 20px auto;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        padding: 20px;
      }


html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}
.primary {
  background-color: rgb(152, 161, 168);
  margin: 40px;
  padding: 10px;
}
.primary :hover {
  background-color: mediumseagreen;
}

@media screen and (max-width:600px) {
  header.primary{
    background-color: red;
  }
  
}
