/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Fix Clearing Bugs */

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

main {
  /*background-image: url("../img/grid\ \(1\).png");*/
  width: 80vw;
  margin: 20px auto;
  border: 1px solid #000;
}

header.primary,
footer.primary {
  /*width:916px;*/
  width: 95.815%;
  background: rgba(0, 0, 0, 0.4);
  margin: 2.092%;
  padding: 20px;
  float: left;
}

#blog {
  /* width:682px;*/
  width: 71.3389%;
  margin-left: 2.092%;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  float: left;
}

aside {
  background: rgba(0, 0, 0, 0.3);
  /*width: 214px;*/
  width: 22.3849%;
  margin-left: 2.092%;
  padding: 20px;
  float: left;
}
